@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(90, 88, 88);
}
#corpo{
    background-color: orange;
    margin: 20px;
    padding-bottom:100px;
    border-radius: 20px;
}
#titulo{
    color: blueviolet;
    text-align: center;
    text-shadow: black,7px,7px,10px;
}
.informações-pessoais{
    display: flex;
    justify-content: center;
    width: 40%;
    gap: 30px;
    margin-left: 31%;
    border-radius: 30px;
}
#genero{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
#seletor{   
    display: flex;
    justify-content: center;
    margin-left: 28.5%;
    margin-top: 20px;
    padding: 9px;
}
h2{
    color:blueviolet;
    text-align: center;
}
#reclamação{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-top: 20px;
}
#botão{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    margin-left:590px;
    padding: 9px;
}
.opções{
    display: inline-block;
    justify-content: center;
    margin-left: 270px;
    margin-top: 9px;
    border:none;
    width:auto;
}